<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio | Gabriel Germano</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <i class="bi bi-list menu-mobile"></i>
    <aside id="header">
        <section class="profile ">
            <img src="../static/img/foto perfil.jpeg" alt="foto perfil">
            <h1>Gabriel Germano</h1>
            <div class="social-link mt-4 text-center">
                <a href="https://www.linkedin.com/in/gabriel-germano-a6944b266/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://github.com/germanogabriel99" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://www.instagram.com/germano.1999/" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.facebook.com/people/Gabriel-Germano/pfbid02Xdu8XvGc6qBXGQZ2QqjnR3pwGkGqaXidBrWwDReMaN4AehmXfa6WUtbkmHQedji9l/?mibextid=ZbWKwL" target="_blank">
                    <i class="bi bi-facebook"></i>
                </a>
            </div>
        </section>
        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-file-earmark"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-collection"></i> Projetos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-envelope"></i> Contatos</a>
                </li>  
                
              </ul>

        </nav>
    </aside>
    <main id="main" >
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Gabriel Germano</h2>
                <span id="subtitle" class="text-white text-shadow">Desenvolvedor Front-end</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex aling-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
            
        </section>
        <section class=" container mt-4" id="sobre">
            <div class="row w-100 mx-3">
                <div id="sobre-h" class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Meu nome é Gabriel Germano e sou um apaixonado por tecnologia.

                        Sou um estudante de Análise e Desenvolvimento de Sistemas com paixão pelo desenvolvimento web e teste de software.
                        
                        Tenho me dedicado a adquirir conhecimentos nas áreas de desenvolvimento web, com foco voltado para front-end.Além disso, tenho interesse especial em teste de software, tanto manual quanto automatizado.
                        
                        Gosto de garantir a qualidade dos produtos, identificando e relatando problemas, além de buscar soluções para otimizar o processo de teste. Estou animado em aplicar meu conhecimento em projetos reais e aprender com profissionais da área.
                        
                        </p>
                </div>
            </div>
            <div class="row mt-4 mx-3">
                <div class="col-md-4">
                    <img id="fotoperfil" class="shadow" src="../static/img/foto perfil maior.jpeg"Foto do Gabriel">
                </div>
                <div class="col-md-8">
                    <h3>Estudante de Análise e Desenvolvimento de Sistemas</h3>
                    <p>Atualmente, estou estudando Desenvolvimento web com foco em Front-end.</p>
                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Niver:
                                    <span class="fw-lighter">23 de Janeiro de 1999</span>
                                </li>
                                <li class="list-group-item">Idade:
                                    <span class="fw-lighter">24 anos</span>
                                </li>
                                <li class="list-group-item">Cidade:
                                    <span class="fw-lighter">Araras</span>
                                </li>
                                <li class="list-group-item">Estado:
                                    <span class="fw-lighter">São Paulo</span>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Civil:
                                    <span class="fw-lighter">Solteiro</span>
                                </li>
                                <li class="list-group-item">Hobby:
                                    <span class="fw-lighter">Academia</span>
                                </li>
                                <li class="list-group-item">Trabalho:
                                    <span class="fw-lighter">Estudante</span>
                                </li>
                                <li class="list-group-item">Experiência:
                                    <span class="fw-lighter">A aperfeiçoar</span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <p>Sou um entusiasta do teste de software, dedicado a garantir a qualidade dos produtos por meio da identificação e resolução de problemas. Com foco tanto no teste manual quanto no automatizado, busco otimizar o processo de teste e assegurar que os sistemas atendam às necessidades dos usuários.</p>
                   
                </div>
            </div>
        </section>
        <section id="habilidades" class="mt-5 section-bg">
            <div id="hab"class="container pb-5 ">
                <h2 class="pt-5">Habilidades</h2>
                <p>Em todo tempo como estudante de tecnologia eu adquiri algumas habilidades técnicas e não tecnicas, a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cada uma delas.</p>
            </div>
            <div class="row mx-3">
                <div class="col-md-6">
                    <p class="mt-3 mb-0">Html</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 70%">70%</div>
                    </div>
                    <p class="mt-3 mb-0">Css</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 65%">65%</div>
                     </div>
                     <p class="mt-3 mb-0">JavaScript</p>
                     <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 60%">60%</div>
                    </div>
                    <p class="mt-3 mb-0">Python</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 65%">65%</div>
                    </div>
                    <p class="mt-3 mb-0">Git/Github</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 70%">70%</div>
                    </div>
                
                    
                   
                
                </div>
                <div class="col-md-6">
                    <p class="mt-3 mb-0">BootStrap</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 50%">50%</div>
                    </div>
                    <p class="mt-3 mb-0">Pacote Office</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 75%">75%</div>
                    </div>
                    <p class="mt-3 mb-0">Teste manual</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 70%">70%</div>
                    </div>
                    <p class="mt-3 mb-0">Teste automatizado</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 25%">25%</div>
                    </div>
                    

                </div>

            </div>
            <hr>
            <div class="row mx-3">
                <div class="col-md-6">
                <p class="mt-3 mb-0">Trabalho em equipe</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 99%">99%</div>
                </div>
                <p class="mt-3 mb-0">Proatividade</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 95%">95%</div> </div>
                <p class="mt-3 mb-0">Orientação a detalhes</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 90%">90%</div>
                </div>
                </div>
                <div class="col-md-6">
                    <p class="mt-3 mb-0">Comunicação</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 95%">95%</div></div>
                    <p class="mt-3 mb-0">Empatia</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 85%">85%</div>
                    </div>
                    <p class="mt-3 mb-0">Comprometimento</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 95%">95%</div>
                    </div>
                     </div>

                </div>
                </div>
                
            </div>

        </section>
    </main>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>