<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio | Gabriel Germano</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="../static/img/logo.ico" type="image/x-icon">
</head>
<body>
    <i class="bi bi-list menu-mobile"></i>
    <aside id="header">
        <section class="profile ">
            <img src="../static/img/foto perfil.jpeg" alt="foto perfil">
            <h1>Gabriel Germano</h1>
            <div class="social-link mt-4 text-center">
                <a href="https://www.linkedin.com/in/gabriel-germano-a6944b266/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://github.com/germanogabriel99" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://www.instagram.com/germano.1999/" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.facebook.com/people/Gabriel-Germano/pfbid02Xdu8XvGc6qBXGQZ2QqjnR3pwGkGqaXidBrWwDReMaN4AehmXfa6WUtbkmHQedji9l/?mibextid=ZbWKwL" target="_blank">
                    <i class="bi bi-facebook"></i>
                </a>
            </div>
        </section>
        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projetos"><i class="bi bi-collection"></i> Projetos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contatos"><i class="bi bi-envelope"></i> Contatos</a>
                </li>  
                
              </ul>

        </nav>
    </aside>
    <main id="main" >
        <section id="inicio" class="row ">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Gabriel Germano</h2>
                <span id="subtitle" class="text-white text-shadow">Desenvolvedor Front-end</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex aling-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
            
        </section>
        <section class=" container mt-4" id="sobre">
            <div class="row w-100 ">
                <div id="sobre-h" class="col-md-12" data-anime="left">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Meu nome é Gabriel Germano e sou um apaixonado por tecnologia.

                        Sou um estudante de Análise e Desenvolvimento de Sistemas com paixão pelo desenvolvimento web e teste de software.
                        
                        Tenho me dedicado a adquirir conhecimentos nas áreas de desenvolvimento web, com foco voltado para front-end.Além disso, tenho interesse especial em teste de software, tanto manual quanto automatizado.
                        
                        Gosto de garantir a qualidade dos produtos, identificando e relatando problemas, além de buscar soluções para otimizar o processo de teste. Estou animado em aplicar meu conhecimento em projetos reais e aprender com profissionais da área.
                        
                        </p>
                </div>
            </div>
            <div class="row mt-4 ">
                <div class="col-md-4">
                    <img id="fotoperfil" class="shadow" src="../static/img/foto perfil maior.jpeg"Foto do Gabriel  data-anime="left">
                </div>
                <div class="col-md-8" data-anime="up">
                    <h3>Estudante de Análise e Desenvolvimento de Sistemas</h3>
                    <p>Atualmente, estou estudando Desenvolvimento web com foco em Front-end.</p>
                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Niver:
                                    <span class="fw-lighter">23 de Janeiro de 1999</span>
                                </li>
                                <li class="list-group-item">Idade:
                                    <span class="fw-lighter">24 anos</span>
                                </li>
                                <li class="list-group-item">Cidade:
                                    <span class="fw-lighter">Araras</span>
                                </li>
                                <li class="list-group-item">Estado:
                                    <span class="fw-lighter">São Paulo</span>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Civil:
                                    <span class="fw-lighter">Solteiro</span>
                                </li>
                                <li class="list-group-item">Hobby:
                                    <span class="fw-lighter">Academia</span>
                                </li>
                                <li class="list-group-item">Trabalho:
                                    <span class="fw-lighter">Estudante</span>
                                </li>
                                <li class="list-group-item">Experiência:
                                    <span class="fw-lighter">A aperfeiçoar</span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <p>Sou um entusiasta do teste de software, dedicado a garantir a qualidade dos produtos por meio da identificação e resolução de problemas. Com foco tanto no teste manual quanto no automatizado, busco otimizar o processo de teste e assegurar que os sistemas atendam às necessidades dos usuários.</p>
                   
                </div>
            </div>
        </section>

        <section id="habilidades" class="mt-5 section-bg">
            <div id="hab"class="container pb-5 ">
                <h2 class="pt-5">Habilidades</h2>
                <p>Em todo tempo como estudante de tecnologia eu adquiri algumas habilidades técnicas e não tecnicas, a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cada uma delas.</p>
            </div>
            <div class="row mx-3">
                <div class="col-md-6">
                    <p class="mt-3 mb-0">Html</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" data-anime="left">
                    <div class="progress-bar" style="width: 70%">70%</div>
                    </div>
                    <p class="mt-3 mb-0">Css</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" data-anime="left">
                    <div class="progress-bar" style="width: 65%">65%</div>
                     </div>
                     <p class="mt-3 mb-0">JavaScript</p>
                     <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-anime="left">
                    <div class="progress-bar" style="width: 60%">60%</div>
                    </div>
                    <p class="mt-3 mb-0">Python</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" data-anime="left">
                    <div class="progress-bar" style="width: 55%">55%</div>
                    </div>
                    <p class="mt-3 mb-0">Git/Github</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-anime="left">
                    <div class="progress-bar" style="width: 60%">60%</div>
                    </div>
                
                    
                   
                
                </div>
                <div class="col-md-6">
                    <p class="mt-3 mb-0">BootStrap</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" data-anime="left">
                    <div class="progress-bar" style="width: 50%">50%</div>
                    </div>
                    <p class="mt-3 mb-0">Pacote Office</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" data-anime="left">
                    <div class="progress-bar" style="width: 75%">75%</div>
                    </div>
                    <p class="mt-3 mb-0">Teste manual</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" data-anime="left">
                    <div class="progress-bar" style="width: 70%">70%</div>
                    </div>
                    <p class="mt-3 mb-0">Teste automatizado</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-anime="left">
                    <div class="progress-bar" style="width: 25%">25%</div>
                    </div>
                    

                </div>

            </div>
            <hr>
            <div class="row mx-3">
                <div class="col-md-6">
                <p class="mt-3 mb-0">Trabalho em equipe</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" data-anime="left">
                <div class="progress-bar" style="width: 99%">99%</div>
                </div>
                <p class="mt-3 mb-0">Proatividade</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" data-anime="left">
                <div class="progress-bar" style="width: 95%">95%</div> </div>
                <p class="mt-3 mb-0">Orientação a detalhes</p>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" data-anime="left">
                <div class="progress-bar" style="width: 90%">90%</div>
                </div>
                </div>
                <div class="col-md-6">
                    <p class="mt-3 mb-0">Comunicação</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" data-anime="left">
                    <div class="progress-bar" style="width: 95%">95%</div></div>
                    <p class="mt-3 mb-0">Empatia</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" data-anime="left">
                    <div class="progress-bar" style="width: 85%">85%</div>
                    </div>
                    <p class="mt-3 mb-0">Comprometimento</p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" data-anime="left">
                    <div class="progress-bar" style="width: 95%">95%</div>
                    </div>
                     </div>

                </div>
                </div>
                
            </div>

        </section>

        <section class="mt-5 cv ms-3" id="curriculo">
            <div class="container pb-5">
                <h2 id="curri" class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Análise e Desenvolvimento de Sistemas</h4>
                            <h5>Jan/2023 - jul/2025</h5>
                            <p><em></em>ESTÁCIO | EAD</p>
                            <p>Em resumo, o curso de Análise e Desenvolvimento de Sistemas prepara os estudantes para enfrentar os desafios do mundo da tecnologia, capacitando-os para desenvolver sistemas computacionais eficientes, seguros e inovadores.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Técnico em Mecânica</h4>
                            <h5>Jan/2015 - dez/2016</h5>
                            <p><em>ETEC | Araras/SP</em></p>
                            <p>Em resumo, o curso técnico em Mecânica Industrial oferece uma formação sólida e prática.Proporciona conhecimentos teóricos e habilidades práticas necessárias para o trabalho com máquinas e equipamentos.</p>
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Auxiliar de Produção</h4>
                            <h5>Set/2020 - Ago/2022 | Araras/SP</h5>
                            <p><em>LL Aparelhos Eletronicos LTDA</em></p>
                            <p>Como Auxiliar de Produção no Setor de Marcenaria, tive a responsabilidade de operar máquinas e equipamentos essenciais para a fabricação de caixas de som de alta qualidade.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Auxiliar de Produção</h4>
                            <h5>Mai/2019 - Mai/2020 | Araras/SP</h5>
                            <p><em>Rivera Móveis LTDA</em></p>
                            <p>Como Auxiliar de Produção, tive a responsabilidade de atuar na montagem e teste de móveis, garantindo a qualidade dos produtos e a satisfação dos clientes. Durante meu tempo nessa função, aprendi a interpretar e seguir projetos de móveis, utilizar ferramentas manuais e elétricas para montagem, bem como realizar testes de qualidade em cada peça e em cada projeto entregue.</p>
                        </div>
                        
                    </div>
                </div>
            </div>

        </section>

        <section id="projetos" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 id="cont-projetos" class="pb-4">Projetos</h2>
                <div id="carouselProjetos" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselProjetos" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselProjetos" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/unnamed.png" class="card-img-top" alt="Em breve">
                                <div class="card-body">
                                  <h5 class="card-title">Em breve</h5>
                                  
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/unnamed.png" class="card-img-top" alt="Em breve">
                                <div class="card-body">
                                  <h5 class="card-title">Em breve</h5>
                                  
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/unnamed.png" class="card-img-top" alt="Em breve">
                                <div class="card-body">
                                  <h5 class="card-title">Em breve</h5>
                                 
                                </div>
                              </div>
                            </div>
                            
                          </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/unnamed.png" class="card-img-top" alt="Em breve">
                                <div class="card-body">
                                  <h5 class="card-title">Em breve</h5>
                                  
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/unnamed.png" class="card-img-top" alt="Em breve">
                                <div class="card-body">
                                  <h5 class="card-title">Em breve</h5>
                                  
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/unnamed.png" class="card-img-top" alt="Em breve">
                                <div class="card-body">
                                  <h5 class="card-title">Em breve</h5>
                                 
                                </div>
                              </div>
                            </div>
                            
                          </div>
                      
                      </div>
                      
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProjetos" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselProjetos" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

                
            </div>

            </div>
        </section>

        <section class="pt-5 pb-5" id="contatos">
            <div class="container mb-5">
                <h2 id="conta" class="pt-3 pb-3">Contato</h2>
                <div class="row">
                    <div class="col-md-6 " data-anime="up">
                        <div class="card p-5 shadow border-0">
                            <div class="endereço">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>Araras, SP</p>
                            </div>
                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>gabrielhenrique23germano@gmail.com</p>
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3689.9339731124405!2d-47.337684425604536!3d-22.356121818421414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c87088ebd64f3b%3A0x77bc05529aff7bb4!2sAv.%20Pres.%20Vargas%2C%20Araras%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1686065113661!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                        </div>
                    </div>
                    <div class="col-md-6 mt-5 mt-md-0">
                        <div class="card p-5 shadow border-0  " data-anime="left">
                            <div class="linkedin-perfil mt-3">
                                <h4><i class="bi bi-linkedin"></i> Linkedin:</h4>
                                <p><a id="link-linkedin" href="https://www.linkedin.com/in/gabriel-germano-a6944b266/" target="_blank">Gabriel Germano</a></p>
                            </div>
                            <div class="whats mt-5">
                                <h4><i class="bi bi-whatsapp"></i> Whatsapp:</h4>
                                <p><a id="link-linkedin" href="https://api.whatsapp.com/send/?phone=5519991256210&text&type=phone_number&app_absent=0" target="_blank">Clique aqui</a></p>
                            </div>
                            <div class="git mt-5">
                                <h4><i class="bi bi-github"></i> GitHub:</h4>
                                <p><a id="link-linkedin" href="https://github.com/germanogabriel99" target="_blank">Gabriel Germano</a></p>

                            </div>
                            <div class="instagram mt-5">
                                <h4><i class="bi bi-instagram"></i> Instagram:</h4>
                                <p><a id="link-linkedin" href="https://www.instagram.com/germano.1999/" target="_blank">Gabriel Germano</a></p>

                            </div>
                            <div>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

    </main>
    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Gabriel Germano</strong>
            </div>
        </div>
    </footer>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>